/*body::after {
    content: "";
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.4;
    background-color: #000;
}

body{
  background-color: #000 !important;
}
*/

body.min{
  padding-top: 0;
  background: none !important;
}

#post-changer{
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 100;
  display: none;
}

.comment-container{
  cursor: default;
}

body.min:after,
body.user #space-menu,
body.guest #space-menu,

body.user #space-menu-dropdown,
body.guest #space-menu-dropdown,

body.min .wallFilterPanel,
body.min.guest .likeLinkContainer{
  display: none !important;
  pointer-events: none;
}

.comment hr{
  border-top: 1px solid #fff !important;
}
#topbar-second .nav>li.active{
    background-color: #fff !important;
}
.comment-time-stamp span{
  font-size: 9px !important;
}

.comment-container{
  background-color: #f6f6f6 !important;
}

/* left Nav */
#top-left-nav{
  position: fixed;
  left: 0;
  width: 50px;
  top: 100px;
  bottom: 0;
  background-color: #222;
  z-index: 1;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
body.user.full #layout-content .container {
  margin-left: 50px;
  margin-right: 0;
  width: calc(100% - 50px);
}
#top-left-nav .nav.items .item{
    display: inline-block;
    margin: 0;
    width: 100%;
}

#top-left-nav .nav.items .item>a{
    display: inline-block;
    width:100%;
    color: #FFFFFF;
    padding: 10px;
}

#top-left-nav .nav.items .item>a span{
  margin-top: 2px;
  display: inline-block;
}

#top-left-nav .item.active{
    border-left: 2px solid #51A7F9;
    background-color: #0B3956;
}

#top-left-nav .item:hover{
    background-color: #0B3956;
}

body.full .with-right-panel .all-posts{
  margin-right: 200px;
  width: calc(100% - 200px);
}

body.full .with-right-panel .ads-content{
  position: fixed;
  right: 0;
  width: 200px;
  top: 100px;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
}
body.full .with-right-panel .ads-content > iframe{
  width: 100%;
  border: none;
  height: 74vh;
}

body.full #topbar-first .container,
body.full #topbar-second .container{
  margin: 0;
  padding: 0 10px;
  width: 100%;
}


/* 2col toggle functionality */

.fixed-2col iframe{
  width: 100%;
  border: none;
  height: 76vh;
}

.fixed-2col .left-col{
  position: fixed;
  top: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: -50%;
}

.fixed-2col .right-col{
  position: fixed;
  top: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  right: -50%;
}

body.user .fixed-2col.active.both-view .left-col{
  left: 50px;
  width: calc(50% - 50px);
}
body.user .fixed-2col.active.left-view .left-col{
  left: 50px;
  width: calc(95% - 50px) !important;
}
body.user .fixed-2col.active.right-view .left-col{
  left: calc(-45% + 50px) !important;
}

body.user .fixed-2col.active.right-view .right-col{
  width: calc(95% - 50px) !important;
}

.fixed-2col.active .left-col{
  left: 0;
}

.fixed-2col.active .right-col{
  right: 0;
}

.fixed-2col.both-view .right-col,
.fixed-2col.both-view .left-col{
  width: 50%;
}

.fixed-2col.active.left-view .left-col,
.fixed-2col.active.right-view .right-col{
  width: 95%;
}

.fixed-2col.active.left-view .right-col{
  right: -45%;
  border: none;
  width: 50%;
}

.fixed-2col.active.right-view .left-col{
  left: -45%;
  border: none;
  width: 50%;
}

.fixed-2col a.half-toggle{
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-variant: all-small-caps;
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 10px;
}
.fixed-2col .left-col a.half-toggle{
  background-color: #00cc00;
  border-right: 1px solid #fff;
}
.fixed-2col .right-col a.half-toggle{
  background-color: #ff9900;
  border-left: 1px solid #fff;
}

.fixed-2col .left-col a.half-toggle::after{
  border-bottom: 2px solid #00cc00;
}

.fixed-2col .right-col a.half-toggle::after{
  border-bottom: 2px solid #ff9900;
}

.fixed-2col.active a.full-toggle{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: none;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-variant: all-small-caps;
}
.fixed-2col.active .left-col a.full-toggle{
  background-color: #00cc00;
  text-align: right;
}
.fixed-2col.active .right-col a.full-toggle{
  background-color: #ff9900;
  text-align: left;
}

.fixed-2col.right-view .left-col a.full-toggle,
.fixed-2col.left-view .right-col a.full-toggle{
  display: block;
}
.fixed-2col.right-view .left-col a.full-toggle::after{
  content: "Pakistan";
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: 10px;
  word-wrap: break-word;
  text-align: center;
  font-variant: all-small-caps;
}
.fixed-2col.left-view .right-col a.full-toggle::after{
  content: "India";
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  width: 10px;
  word-wrap: break-word;
  text-align: center;
  font-variant: all-small-caps;
}

.fixed-2col.active.left-view .right-col .half-toggle,
.fixed-2col.active.right-view .left-col .half-toggle,
.fixed-2col.active.left-view .right-col iframe,
.fixed-2col.active.right-view .left-col iframe{
  display: none;
}

/* All media queries */
@media only screen and (max-width: 768px)
{
  body.full .with-right-panel .all-posts{
    margin-right: 100px;
    width: calc(100% - 100px);
  }
  body.full .with-right-panel .ads-content{
    width: 100px;
  }
}
