body::after {
    content: "";
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #000;
}

/*body{
  background-color: #000 !important;
}

.container.space-layout-container,
.container.profile-layout-container{
  width: 100%;
}*/

body.guest .modal-dialog {
    width: 90% !important;
}

body.guest .modal-content {
    min-height: 90vh;
}

body.guest .modal-body .tab-content{
    max-width: 500px;
    margin: auto;
}

a.navbar-brand {
    position: relative;
}
a.navbar-brand::before {
    content: "beta";
    position: absolute;
    top: 25px;
    font-size: 12px;
    background-color: #ab3232;
    padding: 2px 5px;
    margin: 0;
    line-height: 1;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
a.navbar-brand::after {
  content: "Two Nations Many News Infinite Views";
  color: #d7d7d7;
  font-size: 11px;
  position: absolute;
  top: 8px;
  z-index: 0;
  width: 100px;
  line-height: 1.1em;
  margin-left: 136px;
  font-weight: 600;
  text-transform: uppercase;
}

a.btn.btn-comment-submit {
    background-color: #222 !important;
    color: #fff !important;
}

.panel-profile .panel-profile-header .profile-user-photo-container {
    bottom: -36px !important;
}
.panel-profile .panel-profile-header .profile-user-photo-container .profile-user-photo,
.panel-profile .panel-profile-header {
    border: none !important;
}
.nav-pills .dropdown-menu li a,
.nav-tabs .dropdown-menu li a,
.account .dropdown-menu li a {
    padding:10px !important;
}
.nav-pills .dropdown-menu li.divider,
.nav-tabs .dropdown-menu li.divider,
.account .dropdown-menu li.divider{
  background-color: #666 !important;
}
#topbar-first .user-title{
    margin-top:16px;
}
#topbar-first .user-title > strong {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-weight: 400;
}

#topbar-first ul.dropdown-menu.pull-right {
    border-radius: 0;
    margin-top: -1px;
    background-color: #222;
}

#topbar-first .nav>.account{
  margin-right: -15px;
}
#topbar-first .nav>.account .dropdown-toggle{
  padding: 0 !important;
}
body.guest .panel-profile-controls .statistics > a{
  pointer-events: none;
  cursor: default;
}

body.min{
  padding-top: 0;
  background: none !important;
}

#post-changer{
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 100;
  display: none;
}

.comment-container{
  cursor: default;
}

body.min:after,
body.user #space-menu,
body.guest #space-menu,

body.user #space-menu-dropdown,
body.guest #space-menu-dropdown,

body.min .wallFilterPanel,
body.min.guest .likeLinkContainer{
  display: none !important;
  pointer-events: none;
}

.comment hr{
  border-top: 1px solid #fff !important;
}

/*
body.user div#topbar-second {
    padding-left: 50px;
}*/

#topbar-second .nav>li.active{
    background-color: #fff !important;
}
.comment-time-stamp span{
  font-size: 9px !important;
}

.comment-container{
  background-color: #f6f6f6 !important;
}

/* left Nav */
#top-left-nav{
  position: fixed;
  left: 0;
  width: 50px;
  top: 100px;
  bottom: 0;
  background-color: #222;
  z-index: 1;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

body.admin.full #layout-content,
body.user.full #layout-content {
  margin-left: 50px;
}
#top-left-nav .nav.items .item{
    display: inline-block;
    margin: 0;
    width: 100%;
}

#top-left-nav .nav.items .item>a{
    display: inline-block;
    width:100%;
    color: #FFFFFF;
    padding: 10px;
}

#top-left-nav .nav.items .item>a span{
  margin-top: 2px;
  display: inline-block;
}

#top-left-nav .item.active{
    border-left: 2px solid #51A7F9;
    background-color: #0B3956;
}

#top-left-nav .item:hover{
    background-color: #0B3956;
}

body.full .with-right-panel .all-posts{
  margin-bottom: 70px;
}
body.full .with-right-panel .ads-content+.all-posts{
  margin-right: 200px;
  width: calc(100% - 200px);
}

body.full .with-right-panel .ads-content{
  position: fixed;
  right: 0;
  width: 180px;
  top: 100px;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body.full .with-right-panel .ads-content::after{
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
body.full .with-right-panel .ads-content > iframe{
  width: 100%;
  border: none;
  height: 100%;
}

body.full #topbar-first .container,
body.full #topbar-second .container{
  margin: 0;
  padding: 0 10px;
  width: 100%;
}


/* 2col toggle functionality */
.fixed-2col iframe{
  width: 100%;
  border: none;
  height: 80vh;
}

.fixed-2col .left-col{
  position: fixed;
  top: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: -50%;
}

.fixed-2col .right-col{
  position: fixed;
  top: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  right: -50%;
}

body.admin .fixed-2col.active.both-view .left-col,
body.user .fixed-2col.active.both-view .left-col{
  left: 50px;
  width: calc(50% - 50px);
}

body.admin .fixed-2col.active.left-view .left-col,
body.user .fixed-2col.active.left-view .left-col{
  left: 50px;
  width: calc(95% - 50px) !important;
}

body.admin .fixed-2col.active.right-view .left-col,
body.user .fixed-2col.active.right-view .left-col{
  left: calc(-45% + 50px) !important;
}

body.admin .fixed-2col.active.right-view .right-col,
body.user .fixed-2col.active.right-view .right-col{
  width: calc(95% - 50px) !important;
}

.fixed-2col.active .left-col{
  left: 0;
}

.fixed-2col.active .right-col{
  right: 0;
}

.fixed-2col.both-view .right-col,
.fixed-2col.both-view .left-col{
  width: 50%;
}

.fixed-2col.active.left-view .left-col,
.fixed-2col.active.right-view .right-col{
  width: 95%;
}

.fixed-2col.active.left-view .right-col{
  right: -45%;
  border: none;
  width: 50%;
}

.fixed-2col.active.right-view .left-col{
  left: -45%;
  border: none;
  width: 50%;
}

#topbar-first .btn-custom{
  height: 50px;
  position: relative;
  float: right;
  background-color: #fff;
  color: #000;
  right: -25px;
}
#topbar-first .btn-custom small{
  display: block;
}
#topbar-first .btn-enter{
  margin-right: -26px;
}
.fixed-2col a.half-toggle{
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-variant: all-small-caps;
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fixed-2col.both-view a.half-toggle::before{
  content: "\f065";
  position: absolute;
  right: 10px;
  font: normal normal normal 14px/1 FontAwesome;
  top: 18px;
  opacity: 0.6;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fixed-2col.left-view a.half-toggle::before,
.fixed-2col.right-view a.half-toggle::before{
  content: "\f066";
  position: absolute;
  right: 10px;
  font: normal normal normal 14px/1 FontAwesome;
  top: 18px;
  opacity: 0.6;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fixed-2col .left-col a.full-toggle::before{
  content: "\f0ec";
  position: absolute;
  right: 2%;
  font: normal normal normal 14px/1 FontAwesome;
  top: 18px;
  opacity: 0.6;
  font-size: 10px;
}
.fixed-2col .right-col a.full-toggle::before{
  content: "\f0ec";
  position: absolute;
  left: 2%;
  font: normal normal normal 14px/1 FontAwesome;
  top: 18px;
  opacity: 0.6;
  font-size: 10px;
}

.fixed-2col .left-col a.half-toggle{
  border-bottom: 1px solid #00cc00;
  margin-right: 1px;
}
.fixed-2col .right-col a.half-toggle{
  border-bottom: 1px solid #ff9900;
  margin-left: 1px;
}

.fixed-2col .left-col a.half-toggle::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00cc00;
  z-index: -1;
  opacity: 0.8;
}

.fixed-2col .right-col a.half-toggle::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff9900;
  z-index: -1;
  opacity: 0.8;
}

.fixed-2col.active a.full-toggle{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: none;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-variant: all-small-caps;
}
.fixed-2col.active .left-col a.full-toggle{
  background-color: #00cc00;
  text-align: right;
}
.fixed-2col.active .right-col a.full-toggle{
  background-color: #ff9900;
  text-align: left;
}

.fixed-2col.right-view .left-col a.full-toggle,
.fixed-2col.left-view .right-col a.full-toggle{
  display: block;
}
.fixed-2col.right-view .left-col a.full-toggle::after{
  content: "Pakistan";
  position: absolute;
  top: 50px;
  right: 2%;
  bottom: 0;
  width: 10px;
  word-wrap: break-word;
  text-align: center;
  font-variant: all-small-caps;
  line-height: 20px;
}
.fixed-2col.left-view .right-col a.full-toggle::after{
  content: "India";
  position: absolute;
  top: 50px;
  left: 2%;
  bottom: 0;
  width: 10px;
  word-wrap: break-word;
  text-align: center;
  font-variant: all-small-caps;
  line-height: 20px;
}

.fixed-2col.active.left-view .right-col .half-toggle,
.fixed-2col.active.right-view .left-col .half-toggle,
.fixed-2col.active.left-view .right-col iframe,
.fixed-2col.active.right-view .left-col iframe{
  display: none;
}

/* space title */
.space-title{
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-variant: all-small-caps;
  display: inline-block;
  padding: 10px;
  top: 100px;
  left: 0;
  position: fixed;
  z-index: 1000;
  background-color: #222;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body.full .all-posts .layout-content-container {
    margin-top: 50px;
}
body.min .all-posts .layout-content-container {
    margin-top: 20px;
}

body.guest .space-title{
  width: calc(100% - 180px);
}

body.admin .space-title,
body.user .space-title{
  left: 50px;
  width: calc(100% - 230px);
}

.comment-container {
    margin: 10px -10px;
}
body.min .comment-container .comment-message{
  pointer-events: none;
  cursor: default;
}

.nav-tabs{
  background-color: #fff;
  border-radius: 5px;
}

/* overwrite atwho */
body.min div.atwho-view{
  position: fixed;
  top: -18px !important;
  left: 0 !important;
  display: none;
  background: #fff;
  color: #555;
  font-size: 14px;
  z-index: 11110!important;
  padding: 5px 0;
  right: 0 !important;
  background-color: #222;
  min-width: 100%;
  max-width: 100%;
  border: none;
  border-radius: 0;
}
body.full div.atwho-view{
  position: fixed;
  top: 80px !important;
  left: 0 !important;
  display: none;
  background: #fff;
  color: #555;
  font-size: 14px;
  z-index: 11110!important;
  padding: 5px 0;
  right: 0 !important;
  background-color: #222;
  min-width: 100%;
  max-width: 100%;
  border: none;
  border-radius: 0;
}
div.atwho-view ul li.hint{
  text-align: center;
}
div.atwho-view ul li.hint::after{
  content: "";
  background-image: url('../img/three-dots.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  padding: 30px;
  margin-left: 10px;
}
div.atwho-view .cur,
div.atwho-view ul li,
div.atwho-view ul li.hint{
  background: none !important;
  color: #fff;
}

div.atwho-view strong,
div.atwho-view .cur strong{
  background-color: #55acee;
}

/* All media queries */
@media only screen and (max-width: 768px){

  #topbar-first .btn-custom{
    right: -15px;
  }
  body.admin .space-title,
  body.user .space-title{
    width: calc(100% - 50px);
  }

  body.guest .space-title{
    width: 100%;
  }
  body.full .with-right-panel .all-posts{
    margin-right: 100px !important;
    width: 100% !important;
  }
  body.full .with-right-panel .ads-content{
    width: 100%;
    top:90%;
  }
  .label.space-label{
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* For Advertisments */
.container.advertisments {
    word-wrap: break-word;
}

.container.advertisments .carousel-caption::after {
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    z-index: -1;
}
.container.advertisments .carousel-caption {
    right: 0;
    left: 0;
    padding: 10px 5px;
    top: 0;
    bottom: auto;
}

.container.advertisments .carousel-caption h3{
  font-size: 12px;
  margin: 0;
  font-weight: bold;
  padding-top: 10px;
}
.container.advertisments .carousel-caption p{
  font-size: 11px;
  margin: 0;
  color: #ccc;
}
.container.advertisments img {
    margin: auto;
}
.container.advertisments .col-md-12 {
    margin: 0;
    padding: 0;
}
.container.advertisments ol.carousel-indicators {
    width: 100%;
    margin: auto !important;
    padding: 0 !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
}
.container.advertisments .carousel-indicators li {
    border-color: #55acee;
}

.container.advertisments .carousel-indicators li.active {
    background-color: #55acee;
}
.container.advertisments .item a{
  color: #fff;
}
.container.advertisments a.fa-play,
.container.advertisments a.fa-youtube-play {
    font-size: 30px;
}
.container.advertisments .item {
    min-height: 100px;
}
